* {
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: -50px;
}

img {
    width: 500pxqw24wq;
    height: auto;
}

body {
    background: linear-gradient(to bottom, #03051a, #202124);
    height: 1000px;

}


nav ul {
    display: flex;
    width: 100%;
    background-color: black;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: fixed;

}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

nav ul li {
    color: white;
    text-decoration: none;

}

li.a:hover {
    background-color: #373737;
    transform: scale(1.05);
    border-radius: 10px;

}

.perfil {

    width: 80x;
    height: 80px;

}

h3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    color: #ffffff;
    font-size: 50px;
    margin-right: 140px;
    font-style: oblique;
    margin-bottom: 30px;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cecfcf;
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}