* {
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #03051a, #202124);
    height: 1000px;

}


nav ul.header {
    display: flex;
    width: 100%;
    background-color: black;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: fixed;

}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

nav ul li {
    color: white;
    text-decoration: none;

}

li.a:hover {
    background-color: #373737;
    transform: scale(1.05);
    border-radius: 10px;

}

.perfil {

    width: 80x;
    height: 80px;

}

.PNG {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 600px;
}

.png {
    width: 50%;
    height: 50%;
    margin-top: 0px;
    margin-left: 80px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: rgba(226, 226, 226, 0.76);
    font-size: 40px;

}

.main {
    display: flex;
    align-items: center;

}

ul.services li {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 50px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.719);

}